.info {
    background: linear-gradient(225deg, rgb(245 250 15 / 42%) 0%, rgb(213 250 15) 0%, rgb(250 153 15) 100%);
    height: calc(100vh - 300px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}
.info span {
    color: white;
    font-family: 'Acme', sans-serif;
    letter-spacing: 3px;
}
.info .btn {
    background: white;
    border: 1px solid black
}
.info .btn:hover {
    font-weight: bold;
}