.about {
    margin-top: 150px;
    padding-bottom: 100px;
}
.about .container {
    position: relative;
}
.about .current-skills {
    margin-top: 30px;
    list-style: none;
    text-align: center;
    font-size: var(--font-size-2);
}
