:root {
  --color-1: rgb(250, 207, 15);
  --color-2: #e7e7e7;
  --font-size-1: 1.8rem;
  --font-size-2: 1.2rem;
  --font-size-3: 6rem;
  --shadow: 0 10px 100px rgb(0 0 0 / 10%);
  --shadow-btn: 0 5px 15px 0 rgb(0 0 0 / 15%);
  --shadow-form: rgb(100 100 111 / 20%) 0 7px 29px 0;
  --transition: .3s;
  --radius: 10px;

}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: 'Acme', sans-serif;
  font-family: 'Open Sans', sans-serif;
}